<!-- FOOTER -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<!-- SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-push-6 footer-social-icons">
					<span>Siga-nos:</span>
					<a href=""><i class="fa fa-facebook"></i></a>
				</div>
				<!-- /SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-pull-6 copyright">
					<p>&copy; 2016 <a href="">Associação Saúde da Família</a>. Escritório Regional ASF Sul.
					<br>Todos os Direitos Reservados.</p>
				</div>
			</div>
		</div>
	</footer>
<!-- /FOOTER -->