<!-- FOOTER -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<!-- SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-push-6 footer-social-icons">
					<span>Siga-nos:</span>
					<a><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://pt-br.facebook.com/asf.sul", :target => "_blank"  %></a>
				</div>
				<!-- /SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-pull-6 copyright">
					<p>&copy; 2016 <a><%= link_to "Associação Saúde da Família", "http://www.saudedafamilia.org", :target => "_blank" %></a>. Escritório Regional ASF Sul.
					<br>Todos os Direitos Reservados.</p>
				</div>
			</div>
		</div>
	</footer>
<!-- /FOOTER -->